body 
{
    background: #1E1E1E;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

.board 
{
    display: inline-block;
    border: 2px solid gray; 
    line-height: 0; 
    margin: 20px auto; 
}

.white 
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: lightgray;
}

.black 
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: black; 
}
