@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


html, body {
    background-color: rgb(27, 27, 27);
    color: #d4d4d4;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    line-height: 1.4;
}


/*h1, h2, h3, h4, h5, h6 
{*/
    /*color: #ffffff;*/  
    /*color: #d4d4d4 ;
}*/


p 
{
    margin: 10px 0;
    text-align: justify;
}


a 
{
    color: #00ffff;
}

blockquote {
    font-style: italic;                          
    margin: 15px 0;                              
    position: relative;                          
}


    blockquote::before  {
        content: "❝";
        font-size: 3rem;
        color: #777;
        position: absolute;
        left: -45px;
        top: -20px;
    }

    /*blockquote::after {
        content: "❞";
        font-size: 3rem;
        color: #777;
        position: absolute;
        right: 200px;*/
        /*bottom: -30px;*/
    /*}*/

figure 
{
    display: block;
    text-align: center; 
    font-style: italic; 
    font-size: 18px; 
    margin: 20px auto; 
}


